:root{
    --font-size-options:16px;
    --font-size-title: 30px;
    --font-size-dsk: 40px;
}
body{
    font-family: 'Rubik', sans-serif;  
}
.menu-fixed{
    background-color:white;
    position: fixed;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logo{
    width: 155px;
    margin-top: 10px;
    margin-bottom: 23px;
}
.menu-link{
    text-decoration: none;
    color: #4a4a4a;
    font-size: var(--font-size-options);
    text-transform: uppercase;
    padding: 20px;  
}
main{
    margin-top: 13px;
    background-color:#3CDBC0;
    width: 100vw;
    height: 100vh;
    display: flex;
    display: row;
    justify-content: center;
    align-items: center;   
}
.title-text{
    font-weight: bold;
    font-size: var(--font-size-title);
    color:#FFFFFF;  
    text-transform: capitalize; 
    word-spacing: 100vw; /* para dividir el texto */
    text-align: center; 
}
@media all and (min-width: 768px) {
    .menu-fixed{
        position: fixed;
        width: 100vw;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items:center;
    }
    .logo{
        margin-left: 30px;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    .menu-link{
        margin-left: 30px;
    } 
    .title-text{
        font-size: var(--font-size-dsk);
    }   
}  